body {
    background-color: #F5F5F5; /* gris claro */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #C6A15B; /* dorado */
    text-align: center;
    margin-top: 2rem;
}

p {
    text-align: center;
    font-size: 1.2rem;
}

